#todo-error{
  color: red;
  font-size: 2em;
}

body{
background-image: url(/assets/css/5417.jpg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  user-select: none;
}

main{
  flex-grow: 1;
}

li{
  list-style-type: none;
}

.header-tall{
height: 15vh;
}
.bottom-tall{
  height: 25vh;
}
.tall-row{
  height: 60vh;
}

.action{
  cursor: pointer;
}

.time-box{
height: 50vh;
background-position: center;
background-size: cover;
border-radius: 5px;
}

.quote-hide{
display: none;
}

.quote-box:hover .quote-hide{
  display: block;
}

.post-it{
  height: 20vh;
  background-color: #FCEA66;
  border-radius: 5px;
  border-bottom-right-radius: 60px 7px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.40);
  /* font-family: 'Reenie Beanie', cursive; */
  font-size: 40px;
  font-style: bold;
}
.post-it-list{
  height: 40vh;
  background-color: #FCEA66;
  border-radius: 5px;
  border-bottom-right-radius: 60px 7px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.40);
  font-family: 'Reenie Beanie', cursive;
  font-size: 20px;
  font-style: bold;
}
.post-it-bottom{
  height: 20vh;
  background-color: #FCEA66;
  border-radius: 5px;
  border-bottom-right-radius: 60px 7px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.40);
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  font-style: bold;
}

.post-font{
  font-family: 'Reenie Beanie', cursive;
  margin: 7rem;
}

.overflow-content{
  text-overflow: ellipsis;
  overflow-y: hidden;
}

.tall-stuff{
  height: 20vh;
}

.push-down{
  margin-top: 9rem;
}
.push-down-far{
  margin-top: 28rem;
}

.push-up{
  margin-top: -25px;
  margin-right: 10px;
}

.image-push{
  margin-left: 7%;
}

.big-text{
  font-size: 8rem;
}

.text-box{
  height: 10rem;
}

.text-slash{
  text-decoration: line-through;
}

.text-shadow-dark{
  text-shadow: 3px 3px rgba(0, 0, 0, 0.40);
}

.text-shadow{
  text-shadow: 2px 2px rgb(209, 209, 58);
}

.small-picture{
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 20rem;
  margin-right: 7rem;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.40);
  border: 2px solid black;
}

